canvas
{
	border-color: green;
	border: solid;
    background-color: black;
}

table
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1280px;
}

td, th
{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

h1
{
    font-size: large;
    color: darkcyan;
}