#credits{
    height: 800px;
    width: 1200px;
    border: solid;
    background-image: url("gfx/BGCredits.jpg");
    font-size: 200%;
}

H1, Ul, li{
    text-align: center;
}
h2{
    font-size: 25px;
    }

ul{
    display: inline;
}

body{
    color:greenyellow;
}

a{
    color: lightcyan;
}

p{
    font-size: 15px;
    color: orange;
    line-height: 2px
}

h5{
    text-align: center;
    color: red;
    font-size: 20px;
    line-height: 5px
}

h1{
    font-size: 40px;
}

#retour{
    text-align: center;
}