#credits{
    height: 800px;
    width: 1200px;
    border: solid;
    background-image: url("BGCredits.jpg");
    font-size: 200%;
}

H1, Ul, li, p{
    text-align: center;
}
h2{
    font-size: 35px;
    }

ul{
    display: inline;
}

body{
    color:greenyellow
}

a{
    color: lightcyan
}

p{
    text-align: left;
}